@import '@styles/media';
@import '@styles/variables';

.city-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
  position: relative;

  .title {
    text-align: center;
    margin-bottom: 20px;
  }

  .list {
    @include min-media('d') {
      column-count: 4;
      margin-top: 40px;
      padding: 0 40px;
      text-align: left;
    }

    width: 100%;
    margin-top: 20px;
    padding: 0;
    text-align: center;
  }

  .item {
    display: block;
    color: $black;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 10px;
    transition: color 0.4s;

    &:hover {
      color: $blue;
    }

    & + .groupTitle {
      margin-top: 14px;
    }
  }

  .search {
    @include min-media('d') {
      width: 45%;

      .input {
        width: 100%;
      }
    }

    position: sticky;
    top: 15px;
    width: calc(100% - 40px);

    input {
      width: calc(100% - 56px);
    }
  }

  .groupTitle {
    font-size: 22px;
    margin-bottom: 14px;
    color: $blue;
  }
}
