@font-face {
  font-family: 'Lato';
  src: url('~@assets/fonts/Lato-Bold.ttf') format('truetype'),
    url('~@assets/fonts/Lato-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('~@assets/fonts/Lato-Regular.ttf') format('truetype'),
    url('~@assets/fonts/Lato-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
