@import '@styles/variables';

.tableContainer {
  .title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  .table {
    width: 100%;
    border-collapse: collapse;
  }

  .row {
    border-bottom: 1px solid $darkblue;

    &:last-child {
      border-bottom: none;

      .item {
        padding-bottom: 0;
      }
    }

    .item {
      padding: 10px 0;

      &:last-child {
        color: $blue;
      }
    }
  }
}
