@import '@styles/media';
@import '@styles/variables';

.modal {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5em 1em;
  z-index: 999999;
  box-sizing: border-box;

  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($black, .6);
  }

  .close {
    position: absolute;
    right: 15px;
    top: 10px;
    color: #5e5e5e;
    cursor: pointer;
    font-size: 1.25em;
    padding: 7px;
    background: $lightblue-white;
    border: 1px solid #c3c0c0;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999;
    box-sizing: border-box;
    transition: .4s;

    svg {
      width: 16px;
      height: 16px;
      fill: black;
      transition: .4s;
    }

    &:hover {
      border-color: $blue;

      svg {
        fill: $blue;
      }
    }
  }

  .body {
    z-index: 2;
    position: relative;
    margin: 0 auto;
    background-color: $white;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 3px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 100%;
    padding: 15px 20px;
    color: #c3c0c0;
    font-family: 'Lato', sans-serif;
    max-height: 65vh;
  }
}
