@import '@styles/media';
@import '@styles/variables';

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $black;
  box-shadow: 0 0px 16px -3px rgba($black, 0.3);
  padding: 12px 30px;

  a {
    color: $black;
    text-decoration: none;
  }

  .desktop {
    display: none;

    @include min-media('d') {
      display: block;
    }
  }

  .mobile {
    display: block;

    @include min-media('d') {
      display: none;
    }
  }

  .search {
    position: relative;
  }

  .searchResult {
    background-color: $white;
    max-height: 300px;
    width: auto;
    position: absolute;
    z-index: 1;
    margin-top: 10px;
    overflow-y: scroll;
    box-shadow: 0 3px 16px rgba($black, 0.28);
    padding: 14px;

    a {
      display: block;
      transition: 0.4s;

      &:hover {
        color: $blue;
      }
    }

    a + a {
      margin-top: 10px;
    }
  }

  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .currentCity {
    position: absolute;
    margin-left: 15%;

    span, a {
      color: $blue;
      transition: .4s;

      &:hover {
        color: $darkblue;
      }
    }
  }
}
