@import '@styles/media';
@import '@styles/variables';

.city-detail {
  .banner {
    position: relative;

    .mobile {
      @include min-media('d') {
        display: none;
      }

      display: block;
    }

    .desktop {
      @include min-media('d') {
        display: block;
      }

      display: none;
    }

    img {
      max-width: 100%;
      width: 100%;
    }
  }

  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    background: $white;
    padding: 10px;
    font-size: 35px;
    color: $darkblue;
  }

  .content {
    @include min-media('d') {
      flex-direction: row;
      justify-content: flex-end;
      padding: 30px 0;
    }

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: $lightblue-white;
    padding: 30px 20px;
  }

  .aside {
    @include min-media('d') {
      display: block;
    }

    display: none;
    position: sticky;
    top: 20px;
  }

  .item {
    @include min-media('d') {
      max-width: 900px;
    }

    background-color: $white;
    padding: 30px;
    line-height: 1.4;

    & + .item {
      margin-top: 30px;
    }

    &--empty {
      margin: auto;
      max-width: none;
      text-align: center;
    }
  }

  .itemTitle {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 16px;
  }

  .container {
    @include min-media('d') {
      width: auto;
    }

    width: 100%;
  }
}
