@import '@styles/variables';

.cookies {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  padding: 10px 20px;
  color: $white;
  font-size: 14px;
  line-height: 20px;
  box-sizing: border-box;
  background-color: $darkblue;
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    padding: 10px;
    color: $white;
    background-color: $blue;
    cursor: pointer;
    border: none;
    margin-left: 50px;
    transition: .4s;

    &:hover {
      background-color: rgba($lightblue, .7);
    }
  }
}