@import '@styles/variables';
@import '@styles/media';

.search {
  position: relative;

  .input {
    border: 1px solid rgba($black, 0.3);
    padding: 10px 28px;
    padding-left: 30px;
    font-size: 14px;
    border-radius: 2px;
    width: 100%;

    &:placeholder {
      color: $black;
    }

    &:focus {
      outline: none;
      border: 1px solid rgba($lightblue, 0.5);
      box-shadow: 0 0 3px 0 rgba($lightblue, 0.6);
    }
  }

  .button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 8px;
    width: 16px;
    height: 16px;

    &--clickable {
      cursor: pointer;
    }
  }

  &--header {
    @include max-media('tMax') {
      &:not(.expand) {
        .input {
          width: 0;
          border-bottom-color: transparent;
          padding-left: 0;
        }
      }
    }

    .input {
      border: none;
      border-bottom: 1px solid rgba($black, 0.3);
      border-radius: 0;
      width: auto;

      &:focus {
        border: none;
        border-bottom: 1px solid rgba($lightblue, 0.5);
        box-shadow: none;
      }
    }
  }
}
