@import '@styles/media';
@import '@styles/variables';

.slider {
  font-family: 'Lato', sans-serif;

  .title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  .slide {
    max-width: 500px;
    margin: auto;
    text-align: center;
    font-size: 18px;
  }

  .slideTitle {
    color: $darkblue;
    margin-bottom: 20px;
  }

  .slideRow {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
    text-align: center;

    svg {
      width: 50px;
      height: 50px;
      margin-right: 30px;
    }
  }
}