@import '@styles/variables';

.diagram {
  .row {
    display: flex;
    flex-wrap: wrap;

    p {
      margin-bottom: 5px;
    }

    & + & {
      margin-top: 10px;
    }
  }

  p {
    width: 100%;
  }

  .line {
    height: 20px;
    width: calc(100% - 80px);
    border-radius: 5px;
    border: 2px solid rgba($black, 0.3);
    background: #f3f8fe;
    margin: 0px 10px 0px 0px;

    & > div {
      height: 100%;
      border-radius: 2px;
      transition: width 0.2s ease-in;
    }
  }

  .title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  .summary {
    margin-left: auto;
  }
}
