@import '@styles/variables';

.aside-menu {
  list-style: none;
  width: 300px;
  padding: 0 30px;

  li {
    cursor: pointer;
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 100%;
      margin-right: 4px;
      height: 100%;
      width: 5px;
      background-color: transparent;
      transition: .2s;
    }

    & + li {
      margin-top: 10px;
    }

    &.active {
      a {
        color: $darkblue;
      }

      &::before {
        background-color: $darkblue;
      }
    }
  }

  a {
    color: $black;
    text-decoration: none;
    transition: 0.2s;

    &:hover {
      color: $blue;
    }
  }
}
