@import '@styles/media';
@import '@styles/variables';

.interactive-map {
  @include min-media('d') {
    margin-top: 0;
  }

  margin-top: 30px;

  &__map {
    width: 100%;
    height: 100%;

    g {
      cursor: pointer;
      transition: 0.4s;
      fill: gray;

      &.active,
      &:hover {
        fill: #6f9ac7;
      }
    }
  }
}
