.chart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  .subtitle {
    margin-bottom: 16px;
  }
}
